---
import ContactButton from "../components/ContactButton.astro";
import Layout from "../layouts/Layout.astro";

import "../styles/global.css";

// layout -> display -> spacing -> border -> colors -> text
---

<Layout>
  <div class="flex flex-col items-center justify-center min-h-screen p-4">
    <div class="mb-8">
      <img
        class="max-w-full h-auto md:h-96"
        src="../../public/assets/img/diego-chacon.png"
        alt="Diego Chacon"
      />
    </div>
    <div class="text-center mb-8">
      <p class="text-lg md:text-xl text-ebony leading-relaxed">
        Review my service offerings and discover how I can assist in
        guaranteeing your software's reliability.
      </p>
    </div>
    <div>
      <ContactButton />
    </div>
  </div>
</Layout>
