---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold text-ebony mb-8 text-center">Portfolio</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg shadow-md p-6">
        <img
          src="https://source.unsplash.com/random/400x200"
          alt="Portfolio DC"
          class="mb-4 rounded-md w-full h-48 object-cover"
        />
        <h2 class="text-2xl font-semibold text-ebony mb-2">Portfolio DC</h2>
        <p class="text-ebony text-sm mb-4">
          Comentario relacionado con el desarrollo de Portfolio DC. Este
          proyecto fue desarrollado utilizando Astro, HTML, CSS y JavaScript.
        </p>
        <div class="flex items-center justify-between">
          <a href="#" class="text-red-orange hover:underline">GitHub</a>
          <span class="text-gray-500 text-xs">Astro, HTML, CSS, JavaScript</span
          >
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <img
          src="https://source.unsplash.com/random/401x201"
          alt="Portfolio2 DC"
          class="mb-4 rounded-md w-full h-48 object-cover"
        />
        <h2 class="text-2xl font-semibold text-ebony mb-2">Portfolio2 DC</h2>
        <p class="text-ebony text-sm mb-4">
          Comentario relacionado con el desarrollo de Portfolio2 DC. Este
          proyecto fue desarrollado utilizando Astro, HTML, CSS y JavaScript.
        </p>
        <div class="flex items-center justify-between">
          <a href="#" class="text-red-orange hover:underline">GitHub</a>
          <span class="text-gray-500 text-xs">Astro, HTML, CSS, JavaScript</span
          >
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <img
          src="https://source.unsplash.com/random/402x202"
          alt="Portfolio3 DC"
          class="mb-4 rounded-md w-full h-48 object-cover"
        />
        <h2 class="text-2xl font-semibold text-ebony mb-2">Portfolio3 DC</h2>
        <p class="text-ebony text-sm mb-4">
          Comentario relacionado con el desarrollo de Portfolio3 DC. Este
          proyecto fue desarrollado utilizando Astro, HTML, CSS y JavaScript.
        </p>
        <div class="flex items-center justify-between">
          <a href="#" class="text-red-orange hover:underline">GitHub</a>
          <span class="text-gray-500 text-xs">Astro, HTML, CSS, JavaScript</span
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
