---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold text-ebony mb-8 text-center">Services</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-white rounded-lg shadow-md p-6">
        <div class="flex items-center mb-4">
          <img
            class="w-12 h-12 mr-4"
            src="../../public/assets/img/6.png"
            alt="DEV Engineer"
          />
          <h2 class="text-2xl font-semibold text-ebony">DEV Engineer</h2>
        </div>
        <p class="text-ebony leading-relaxed">
          Asperiores perferendis est totam molestias earum. Et soluta
          consequuntur aut est et delectus at. Quasi recusandae molestiae
          perferendis qui tenetur ut. Temporibus velit vitae voluptates quia
          voluptas ea aut. Neque recusandae natus autem consequatur est natus ea
          voluptatem. Officiis commodi quia autem illo officiis quo harum. Sed
          velit maxime perferendis. Fugiat rerum qui aut qui placeat. Quibusdam
          totam voluptatibus cum dolorem voluptatem ex. Quia vero tenetur
          molestiae autem quisquam porro sit. Sequi sint quasi minus ullam
          libero. Ut possimus perferendis esse dolores omnis. Numquam ducimus
          sed quidem reprehenderit. Et deserunt qui at repellendus. Officiis
          inventore ut suscipit ab sed. Rem nobis ea et ratione quos. Eius omnis
          quo sit eaque non quia et. Error quasi animi sequi similique fugiat.
          Dolorem qui et cum quo dicta quibusdam delectus.
        </p>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <div class="flex items-center mb-4">
          <img
            class="w-12 h-12 mr-4"
            src="../../public/assets/img/5.png"
            alt="QA Engineer"
          />
          <h2 class="text-2xl font-semibold text-ebony">QA Engineer</h2>
        </div>
        <p class="text-ebony leading-relaxed">
          Asperiores perferendis est totam molestias earum. Et soluta
          consequuntur aut est et delectus at. Quasi recusandae molestiae
          perferendis qui tenetur ut. Temporibus velit vitae voluptates quia
          voluptas ea aut. Neque recusandae natus autem consequatur est natus ea
          voluptatem. Officiis commodi quia autem illo officiis quo harum. Sed
          velit maxime perferendis. Fugiat rerum qui aut qui placeat. Quibusdam
          totam voluptatibus cum dolorem voluptatem ex. Quia vero tenetur
          molestiae autem quisquam porro sit. Sequi sint quasi minus ullam
          libero. Ut possimus perferendis esse dolores omnis. Numquam ducimus
          sed quidem reprehenderit. Et deserunt qui at repellendus. Officiis
          inventore ut suscipit ab sed. Rem nobis ea et ratione quos. Eius omnis
          quo sit eaque non quia et. Error quasi animi sequi similique fugiat.
          Dolorem qui et cum quo dicta quibusdam delectus.
        </p>
      </div>
    </div>
  </div>
</Layout>
