<div class="fixed top-0 left-0 right-0 z-50">
  <nav class="py-2 px-4 md:px-8 bg-transparent backdrop-blur-sm">
    <div class="max-w-7xl mx-auto">
      <ul class="flex items-center justify-between">
        <li>
          <a href="/" class="block">
            <img
              class="h-8 w-8 md:h-10 md:w-10"
              src="../assets/image/logo-dc.jpg"
              alt="DC Logo"
            />
          </a>
        </li>
        <div class="flex items-center space-x-4 md:space-x-8">
          <li class="transition-transform duration-200 ease-in-out transform hover:scale-105">
            <a href="/" class="text-ebony hover:text-red-orange font-medium text-sm md:text-base">Home</a>
          </li>
          <li class="transition-transform duration-200 ease-in-out transform hover:scale-105">
            <a href="/about" class="text-ebony hover:text-red-orange font-medium text-sm md:text-base">About</a>
          </li>
          <li class="transition-transform duration-200 ease-in-out transform hover:scale-105">
            <a href="/services" class="text-ebony hover:text-red-orange text-sm md:text-base">Services</a>
          </li>
          <li class="transition-transform duration-200 ease-in-out transform hover:scale-105">
            <a href="/portfolio" class="text-ebony hover:text-red-orange text-sm md:text-base">Portfolio</a>
          </li>
          <li class="transition-transform duration-200 ease-in-out transform hover:scale-105">
            <a href="/contact" class="text-ebony hover:text-red-orange text-sm md:text-base">Contact</a>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</div>
