---

---

<div>
  <nav class="p-10">
    <ul class="flex flex-row space-x-8 justify-center text-2xl">
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="text-grey hover:text-orange font-medium">About</a>
      </li>
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="text-grey hover:text-orange">Services</a>
      </li>
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="text-grey hover:text-orange">Portfolio</a>
      </li>
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="#" class="text-grey hover:text-orange">Contact</a>
      </li>
    </ul>
  </nav>
</div>
