<div>
  <nav class="p-4 md:p-10 bg-misty-blue">
    <ul
      class="flex flex-row items-center justify-center space-x-4 md:space-x-8 text-lg md:text-2xl"
    >
      <li>
        <a href="/">
          <img
            class="h-12 w-12 md:h-20 md:w-20"
            src="../../public/assets/logo-dc.jpg"
            alt="img"
          />
        </a>
      </li>
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="/about" class="text-ebony hover:text-red-orange font-medium"
          >About</a
        >
      </li>
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="/services" class="text-ebony hover:text-red-orange">Services</a
        >
      </li>
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="/portfolio" class="text-ebony hover:text-red-orange"
          >Portfolio</a
        >
      </li>
      <li
        class="transition-transform duration-200 ease-in-out transform hover:scale-105"
      >
        <a href="/contact" class="text-ebony hover:text-red-orange">Contact</a>
      </li>
    </ul>
  </nav>
</div>
